<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{character.name}}</title>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
    background-image: url('https://i.pinimg.com/originals/ca/af/19/caaf198372f936563d2198e22780131c.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
</style>
<body>

    <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
        <div class="w3-container w3-light-green">
            <div class="w3-display-topleft w3-padding-large w3-xxlarge">
                <a href="/game/characters" class="w3-button w3-hover-light-green"><i class="fa fa-arrow-left"></i></a>
            </div>
            <div class="w3-center">
                <h1 class="w3-jumbo">{{character.name}}</h1>
            </div>
        </div>
        <div class="w3-center">
            <table class="w3-table w3-centered w3-light-blue">
                <tr class="w3-blue">
                    <th colspan="5">{{character.breed}} (Niveau {{character.level}})</th>
                </tr>
                <tr>
                    <td style="width:20%; vertical-align:middle;">
                        <div class="w3-left">Points de vie</div>
                        <div class="w3-right">{{life}}</div>
                    </td>
                    <td rowspan="9" style="width:60%; vertical-align:middle;">
                        <img style="width:40%; height:auto;" src="/img/class/{{character.breed.imgName}}"/>
                    </td>
                    <td class="w3-hover-pale-blue" style="width:20%; vertical-align:middle;">
                        <a href="/game/characters/{{character.id}}/{{arme}}"
                           class="w3-button w3-hover-pale-blue">
                            {{arme}}
                        </a>
                        <a href="/game/characters/{{character.id}}/switch/1"
                           title="Changer d'équipement"
                           class="w3-button w3-hover-pale-blue w3-right">
                            <i class="fa fa-exchange"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td style="width:20%; vertical-align:middle;">
                        <div class="w3-left">Force</div>
                        <div class="w3-right">{{force}}</div>
                    </td>
                    <td class="w3-hover-pale-blue" style="vertical-align:middle;">
                        <a href="/game/characters/{{character.id}}/{{bottes}}"
                           class="w3-button w3-hover-pale-blue">
                            {{bottes}}
                        </a>
                        <a href="/game/characters/{{character.id}}/switch/2"
                           title="Changer d'équipement"
                           class="w3-button w3-hover-pale-blue w3-right">
                            <i class="fa fa-exchange"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td style="width:20%; vertical-align:middle;">
                        <div class="w3-left">Intelligence</div>
                        <div class="w3-right">{{intelligence}}</div>
                    </td>
                    <td class="w3-hover-pale-blue" style="vertical-align:middle;">
                        <a href="/game/characters/{{character.id}}/{{ceinture}}"
                           class="w3-button w3-hover-pale-blue">
                            {{ceinture}}
                        </a>
                        <a href="/game/characters/{{character.id}}/switch/{{ceinture.position}}"
                           title="Changer d'équipement"
                           class="w3-button w3-hover-pale-blue w3-right">
                            <i class="fa fa-exchange"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td style="width:20%; vertical-align:middle;">
                        <div class="w3-left">Agilité</div>
                        <div class="w3-right">{{agilite}}</div>
                    </td>
                    <td class="w3-hover-pale-blue" style="vertical-align:middle;">
                        <a href="/game/characters/{{character.id}}/{{cape}}"
                           class="w3-button w3-hover-pale-blue">
                            {{cape}}
                        </a>
                        <a href="/game/characters/{{character.id}}/switch/4"
                           title="Changer d'équipement"
                           class="w3-button w3-hover-pale-blue w3-right">
                            <i class="fa fa-exchange"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td style="width:20%; vertical-align:middle;">
                        <div class="w3-left">Sagesse</div>
                        <div class="w3-right">{{sagesse}}</div>
                    </td>
                    <td class="w3-hover-pale-blue" style="vertical-align:middle;">
                        <a href="/game/characters/{{character.id}}/{{chapeau}}"
                           class="w3-button w3-hover-pale-blue">
                            {{chapeau}}
                        </a>
                        <a href="/game/characters/{{character.id}}/switch/5"
                           title="Changer d'équipement"
                           class="w3-button w3-hover-pale-blue w3-right">
                            <i class="fa fa-exchange"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td style="width:20%; vertical-align:middle;">
                        <div class="w3-left">Vitalité</div>
                        <div class="w3-right">{{life}}</div>
                    </td>
                    <td class="w3-hover-pale-blue" style="vertical-align:middle;">
                        <a href="/game/characters/{{character.id}}/{{amulette}}"
                           class="w3-button w3-hover-pale-blue">
                            {{amulette}}
                        </a>
                        <a href="/game/characters/{{character.id}}/switch/6"
                           title="Changer d'arme"
                           class="w3-button w3-hover-pale-blue w3-right">
                            <i class="fa fa-exchange"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td style="width:20%; vertical-align:middle;">
                        <div class="w3-left">Chance</div>
                        <div class="w3-right">{{chance}}</div>
                    </td>
                    <td class="w3-hover-pale-blue" style="vertical-align:middle;">
                        <a href="/game/characters/{{character.id}}/{{anneau1}}"
                           class="w3-button w3-hover-pale-blue">
                            {{anneau1}}
                        </a>
                        <a href="/game/characters/{{character.id}}/switch/9"
                           title="Changer d'arme"
                           class="w3-button w3-hover-pale-blue w3-right">
                            <i class="fa fa-exchange"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td style="width:20%; vertical-align:middle;"></td>
                    <td class="w3-hover-pale-blue" style="vertical-align:middle;">
                        <a href="/game/characters/{{character.id}}/{{anneau2}}"
                           class="w3-button w3-hover-pale-blue">
                            {{anneau2}}
                        </a>
                        <a href="/game/characters/{{character.id}}/switch/7"
                           title="Changer d'arme"
                           class="w3-button w3-hover-pale-blue w3-right">
                            <i class="fa fa-exchange"></i>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</body>
</html>