<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Création d'un personnage</title>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
    background-image: url('https://i.pinimg.com/originals/ca/af/19/caaf198372f936563d2198e22780131c.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
</style>
<body>

    <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
        <div class="w3-container w3-light-green">
            <div class="w3-display-topleft w3-padding-large w3-xxlarge">
                <a href="/game/characters" class="w3-button w3-hover-light-green"><i class="fa fa-arrow-left"></i></a>
            </div>
            <div class="w3-center">
                <h1 class="w3-jumbo">Création d'un personnage</h1>
            </div>
        </div>
        <div class="w3-container w3-light-blue w3-center">

            <form method="post" action="/game/createCharacter">
                <label>pseudo : </label><input type="text" name="name" id="pseudo"/><br>
                <label>niveau : </label><input type="range" name="level" id="level" min="0" max="100" value="50" oninput="result.value=parseInt(value)"/>
                <output name="result">--</output><br>
                <input type="submit" value="Ajouter" />
            </form>
        </div>



    </div>

</body>
</html>