<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{item.name}}</title>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
    background-image: url('https://i.pinimg.com/originals/ca/af/19/caaf198372f936563d2198e22780131c.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
</style>
<body>

    <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
        <div class="w3-container w3-light-green">
            <div class="w3-display-topleft w3-padding-large w3-xxlarge">
                <a href="/game/characters/{{character.id}}" class="w3-button w3-hover-light-green"><i class="fa fa-arrow-left"></i></a>
            </div>
            <div class="w3-center">
                <h1 class="w3-jumbo">{{item.name}}</h1>
            </div>
        </div>
        <table class="w3-table w3-centered w3-light-blue">
            <tr class="w3-blue">
                <th colspan="3">Possesseur {{character.name}}</th>
            </tr>
            <tr>
                <td style="width:20%">
                    <div class="w3-left">Description</div>
                    <div class="w3-right">{{item.description}}</div>
                </td>
                <td style="width:20%"></td>
                <td style="width:60%"></td>
            </tr>
            <tr>
                <td style="width:20%">
                    <div class="w3-left">Durabilité</div>
                    <div class="w3-right">{{item.getDurability}}/{{item.maxDurability}}</div>
                </td>
                <td style="width:20%"></td>
                <td style="width:60%"></td>
            </tr>
            {{#item.effects}}
            <tr>
                <td style="width:20%">
                    <div class="w3-left">{{typeStats}}</div>
                    <div class="w3-right">{{value}}</div>
                </td>
                <td style="width:20%"></td>
                <td style="width:60%"></td>
            </tr>
            {{/item.effects}}
        </table>
    </div>

</body>
</html>